<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    Welcome to Query List: {{joke.setup}}
  </h1> -->
  <img width="100" [src]=" imageUrl | default: 'http://www.google.co.in/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png':true">
  <img width="70" src="../assets/image5.jpg">
</div>
<img width="40" height="40" src="../assets/image2.jpg">
<!-- <app-joke></app-joke>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://blog.angular.io//">Angular blog</a></h2>
  </li>
</ul>
<button class="btn btn-primary" (click)="viewcontent()">Add View lists </button> -->

<!-- <app-joke-list [title]='titles'>
  <h2>{{titles}}</h2>
</app-joke-list> -->
<!-- <p-sidebar [(visible)]="display" position="right" styleClass="ui-sidebar-sm">
  Content
</p-sidebar>
<button type="text" (click)="display = true" pButton icon="pi pi-plus" label="Show"></button> -->

<!-- Observable Example-->
<!-- <app-observable></app-observable> -->

<!-- Pipe Example -->
<!-- <app-pipe></app-pipe>
<async-pipe></async-pipe> -->

<!-- Form -->
<!-- Model Driven form -->
<!-- <app-model-driven></app-model-driven> -->
<!-- <app-reactive-model></app-reactive-model> -->
<!-- <app-template-form></app-template-form> -->